/* Основной контейнер страницы */
body {
    color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование контейнеров по горизонтали */
    justify-content: center; /* Центрирование контейнеров по вертикали */
    min-height: 100vh; /* Фон занимает всю высоту экрана */
    text-align: center;
    background: linear-gradient(to bottom, rgba(24, 24, 24, 0) -400%, #181818), 
                url('./pics/staraia-plenka-19.png') no-repeat top center;
    background-size: cover;
}

/* Контейнер для блока добавления записи */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center; /* Центрирование текста внутри контейнера */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование элементов внутри контейнера */
}

/* Контейнер для таблицы */
.table-container {
    width: 75vw;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование таблицы внутри контейнера */
}

/* Стили для таблицы */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

/* Универсальный стиль для всех полей ввода */
input {
    width: 70%; /* Занимают оставшееся пространство */
    padding: 10px;
    font-size: 14px;
    border: none; /* Убираем все границы */
    border-bottom: 1px solid #f5f5f5; /* Тонкая белая линия внизу */
    color: #f5f5f5;
    background-color: transparent; /* Прозрачный фон */
}

/* Выровненные группы ввода */
.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

/* Метка к каждому полю */
label {
    font-size: 16px;
    color: #f5f5f5;
    margin-right: 10px;
    flex: 0 0 30%;
}
/* Поля ввода */
input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    color: #f5f5f5;
    background-color: transparent;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: 1px solid #c99700;
}

input:focus {
    outline: none; /* Убираем стандартное выделение */
    border-bottom: 1px solid #c99700; /* Подсвечиваем нижнюю линию при фокусе */
}

/* Универсальный стиль для всех кнопок */
button {
    background: none; /* Убираем фон */
    border: none; /* Убираем границы */
    color: #f5f5f5; /* Белый цвет текста */
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s; /* Плавный переход цвета */
}

button:hover {
    color: #c99700; /* Золотистый цвет текста при наведении */
}

button:focus {
    outline: none; /* Убираем обводку при фокусе */
}

/* Универсальный стиль для всех ссылок */
a {
    color: #c99700; /* Основной цвет ссылок */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

a:visited {
    color: #c99700; /* Совпадает с обычным цветом ссылки */
}



th, td {
    padding: 12px;
    border-bottom: 1px solid #f5f5f5;
    color: #f5f5f5;
    text-align: center; /* Центрирование текста внутри ячеек таблицы */
}

th {
    background-color: #282828;
}

td {
    background-color: #303030;
}
