<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в Дубино-рощинский киноклуб</h1>
        <h2>Время выбрать фильм</h2>
        <button id="goButton">Поехали</button>
        <div id="result"></div>
        <a id="addLink" href="{{ url_for('submit') }}">Добавить запись</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
