<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='pics/7423721-648226759.png') }}">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <div class="form-container">
            <form method="POST" action="{{ url_for('register') }}">
                <div class="input-group">
                    <label for="username">Логин:</label>
                    <input type="text" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Пароль:</label>
                    <input type="password" name="password" required>
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>
            <a href="{{ url_for('index') }}">Назад к авторизации</a>
        </div>
    </div>
</body>
</html>
