<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='pics/7423721-648226759.png') }}">
</head>
<body>
    <div class="container">
        <h1>Время выбрать фильм</h1>
        <!-- Блок для вывода сообщения -->
        {% if message %}
        <div class="alert {{ message_type }}">
            {{ message }}
            </div>
        {% endif %}
        <a href="{{ url_for('watch') }}"><button>Я не знаю, что мне посмотреть</button></a>

        <button id="goButton">Выберу из списка</button>
        <div id="result"></div>
        <a id="addLink" href="{{ url_for('submit') }}">Посмотреть всю базу</a>
        <form method="POST" action="{{ url_for('logout') }}">
            <button type="submit" style="margin-top: 20px;">Выход</button>
        </form>        
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
