<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление данными</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='pics/7423721-648226759.png') }}">
</head>
<body>
    <!-- Контейнер для формы добавления записи -->
    <div class="container">
        <h1>Добавить запись</h1>
        {% if message %}
        <div class="alert {{ message_type }}">
            {{ message }}
        </div>
        {% endif %}
        <form method="POST" class="form-container">
            <div class="input-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="word">Фильм:</label>
                <input type="text" id="word" name="word" required>
            </div>
            <button type="submit">Добавить</button>
        </form>
        <!-- Блок для вывода сообщения -->
        {% if message %}
        <div class="alert {{ message_type }}">
            {{ message }}
            </div>
        {% endif %}
    </div>

    <!-- Контейнер для таблицы с фильмами -->
    <div class="table-container">
        <h2>Все непросмотренные фильмы</h2>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Загадал</th>
                    <th>Фильм</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td><button class="delete-btn" data-name="{{ row[0] }}" data-word="{{ row[1] }}">❌</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('room') }}">Назад на главную</a>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
